@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Italiana&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@300;400;500;600;700;800;900&family=Source+Serif+4:opsz,wght@8..60,200;8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,800;8..60,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #ccc;
}
.all-note-page-header {
  background: #161515;
  height: 70px;
  width: 95%;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: auto;
}
.all-note-page-header h1 {
  font-family: "Mulish";
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}
.Note-display {
  display: grid;
  grid-template-columns: 0.7fr 3.3fr;
  /* grid-gap: 2rem; */
}
.sidebar-div {
  background: #262730;
  width: 230px;
  min-height: 85vh;
  margin-top: 1.2rem;
  overflow-y: hidden;
  margin-left: 30px;
  padding-left: 30px;
  justify-content: center;
}
.logo {
  font-size: 40px;
  font-weight: 700;
  top: 40px;
  left: 55px;
  color: #ffffff;
}
.green {
  color: #66a80f;
  padding-left: 2px;
}
.yellow {
  color: yellow;
  padding-left: 2px;
}
.red {
  color: #e03131;
}
.menu-list {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  line-height: 62px;
  padding-left: 22px;
  padding-top: 4rem;
}
.menu-item {
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 500;
}
.clicked {
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 500;
  border-right: 2px solid #fff;
}
.sidebar-icon {
  margin-right: 7px;
}
.addNote-div {
  padding-top: 5rem;
}
.addNote-icon {
  font-size: 40px;
}
.hamburger-btn-container .btn {
  display: none;
}
.all-notes {
  background: #000;
  width: 96.85%;
  margin-top: 1.2rem;
  padding-left: 2rem;
}
.all-note-title-div {
  display: grid;
  grid-template-columns: 0fr 3.9fr 0.1fr;
}
.all-note-title-div h3 {
  font-family: "Mulish";
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  padding-top: 4rem;
}
.search-input-form {
  text-align: end;
  padding-top: 4rem;
  padding-right: 5rem;
}
.search-input-form input {
  background: #262730;
  border: none;
  height: 26px;
  width: 200px;
  border-radius: 4px;
  padding-left: 2rem;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  color: #ccc;
  justify-content: center;
}
.search-input-form input::placeholder {
  color: #ccc;
}
.pinned-note {
  display: grid;
  grid-template-columns: 0.7fr 2.92fr 0.38fr;
  padding-top: 2.5rem;
}
.pinned-note h3 {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
.pinned-note-icon-div {
  text-align: end;
  margin-left: 4rem;
}
.pinned-note-icon {
  color: #ffffff;
  margin-left: 10px;
}
.pinned-note-display-container {
  padding-top: 2rem;
}
.empty-note {
  font-family: Source Serif 4;
  font-size: 18px;
  font-weight: 600;
  color: red;
  text-align: center;
}
.note-display {
  background: #fd99ff;
  color: #000;
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  width: 90%;
  border-radius: 5px;
}
.note-display h3 {
  font-family: Source Serif 4;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  text-transform: uppercase;
}

.note-button-and-option-div h3 {
  font-size: 18px;
  font-weight: 700;
  float: right;
  margin-top: -2.5rem;
}
.note-option-div {
  text-align: start;
  font-family: Source Serif 4;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-top: -1.2rem;
  padding: 1rem;
  color: #fff;
  position: relative;
  width: 160px;
  height: 80px;
  float: right;
  border-radius: 3px;
  background: #1d1e24;
}
.note-display .note-option-div p {
  text-transform: none;
}
.note-display p {
  font-family: Source Serif 4;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-align: left;
  text-transform: lowercase;
  padding-top: 0.1rem;
}
.note-display p::first-letter {
  text-transform: capitalize;
}

.other-note {
  display: grid;
  grid-template-columns: 0.7fr 2.92fr 0.38fr;
  padding-top: 2.5rem;
}
.other-note h3 {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
.other-note-icon-div {
  margin-top: 1rem;
}
.other-note-display-container {
  padding-top: 2rem;
}

/* Add note page */
.add-note-page-header {
  background: #161515;
  height: 70px;
  width: 95%;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: auto;
}
.add-note-page-header h1 {
  font-family: "Mulish";
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}
.add-note-page {
  background: #000;
  width: 96.85%;
  margin-top: 1.2rem;
  padding-left: 2rem;
  padding-top: 2.5rem;
}
.add-note-page h2 {
  font-family: "Mulish";
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #ffffff80;
}
.add-note-form {
  padding-top: 2.5rem;
}
.add-note-form input {
  width: 867px;
  height: 50px;
  top: 180px;
  left: 403px;
  border: none;
  background: #2627305e;
  margin-bottom: 2rem;
  padding-left: 2rem;
  font-family: Source Serif 4;
  font-size: 22px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: grey;
}
.add-note-form input::placeholder {
  font-family: Source Serif 4;
  font-size: 22px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
.add-note-text-area {
  width: 867px;
  height: 160px;
  top: 300px;
  left: 403px;
  border-radius: 3px;
  background: #26273042;
  border: none;
  padding: 2rem;
  font-family: Source Serif 4;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: grey;
}
.add-note-text-area::placeholder {
  font-family: Source Serif 4;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.add-note-option-container {
  color: #ccc;
  text-align: end;
  margin-top: -2.5rem;
  padding-right: 5.5rem;
}
.add-note-option {
  text-align: start;
  font-family: Source Serif 4;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 1rem;
  position: relative;
  width: 120px;
  height: 80px;
  float: right;
  border-radius: 3px;
  background: #1d1e24;
}
.add-note-page-footer {
  margin-top: 3rem;
  width: 867px;
  height: 60px;
  top: 594px;
  left: 403px;
  border-bottom: 1px solid #ccc;
  background: #26273042;
}

/* favorite page */
.favorite-notes {
  background: #000;
  width: 96.85%;
  margin-top: 1.2rem;
  padding-left: 2rem;
}
.favorite-title-container {
  display: grid;
  grid-template-columns: 0.8fr 2.8fr 0.5fr;
  padding-top: 2.5rem;
}
.favorite-title-container h3 {
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
.favorite-note-icon-div {
  padding-top: 1rem;
}
.favorite-note-display-container {
  padding-top: 2rem;
}

/* trash page */
.trash-container {
  background: #000;
  width: 96.85%;
  margin-top: 1.2rem;
  padding-left: 2rem;
}
.trash-title-container {
  display: grid;
  grid-template-columns: 0.4fr 3.2fr 0.4fr;
  padding-top: 2.5rem;
}
.trash-title-container h3 {
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
.trash-icon-div {
  padding-top: 1rem;
}
.trashed-note-display-container {
  padding-top: 2rem;
}

/* mobile syling */
@media screen and(min-width:300px) and (max-width: 325px) {
  .other-note {
    display: grid;
    grid-template-columns: 2.5fr 1.4fr 0.1fr;
    padding-top: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .all-note-page-header {
    height: 50px;
    width: 93%;
  }
  .all-note-page-header h1 {
    font-size: 20px;
    padding-top: 10px;
  }
  .sidebar-div {
    width: 60px;
    min-height: 86.2vh;
    margin-top: 1rem;
    margin-left: 15px;
    padding-left: 15px;
    overflow-y: hidden;
  }
  .min-sidebar-nav {
    background: #262730;
    width: 125px;
    min-height: 86.2vh;
    margin-top: 1rem;
    margin-left: 15px;
    padding-left: 15px;
    overflow-y: hidden;
    justify-content: center;
  }
  .logo {
    font-size: 30px;
  }
  .menu-list {
    line-height: 52px;
    padding-left: 10px;
    padding-top: 2.5rem;
  }
  .menu-item {
    font-size: 15px;
  }
  .clicked {
    font-size: 15px;
  }
  .sidebar-icon {
    margin-right: 7px;
  }
  .addNote-div {
    padding-top: 6rem;
    padding-left: -70px;
  }

  .hamburger-btn-container {
    padding-top: 0.5rem;
  }
  .hamburger-btn-container .btn {
    display: block;
    background: none;
    border: none;
  }
  .all-notes {
    width: 95%;
    margin-top: 1rem;
    padding-left: 0.5rem;
    overflow-y: hidden;
  }
  .all-note-title-div {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr 0.1fr;
  }
  .all-note-title-div h3 {
    font-size: 15px;
    font-weight: 600;
    padding-top: 0.5rem;
    text-align: center;
  }
  .search-input-form {
    text-align: end;
    padding-top: 0.5rem;
    padding-right: 1rem;
  }
  .search-input-form .search-icon {
    text-align: end;
    margin-left: 65px;
  }
  .search-input-form input {
    height: 26px;
    width: 70px;
    padding-left: 0.2rem;
    font-size: 12px;
  }
  .pinned-note {
    display: grid;
    grid-template-columns: 1.8fr 2.3fr 0.1fr;
  }
  .pinned-note-icon-div {
    margin-left: 1.7rem;
  }
  .pinned-note-icon {
    width: 13px;
    height: 13px;
    margin-left: 6px;
  }
  .pinned-note h3 {
    font-size: 14px;
  }
  .note-option-div {
    font-size: 10px;
    line-height: 20px;
    margin-right: -2rem;
    margin-top: -0.8rem;
    padding: 0.5rem;
    width: 150px;
    height: 60px;
  }

  .other-note {
    display: grid;
    grid-template-columns: 1.8fr 2.3fr 0.1fr;
    padding-top: 2rem;
  }
  .other-note h3 {
    font-size: 14px;
  }

  /* Add note page */
  .add-note-page-header {
    height: 50px;
    width: 93%;
  }
  .add-note-page-header h1 {
    font-size: 20px;
    padding-top: 10px;
  }
  .add-note-page {
    width: 95%;
    margin-top: 1rem;
    padding-left: 0.5rem;
    overflow-y: hidden;
    padding-top: 0.8rem;
  }
  .add-note-page-title-div {
    display: grid;
    grid-template-columns: 0.8fr 2.2fr 1fr;
  }
  .add-note-page h2 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding-top: 0.5rem;
  }
  .add-note-form {
    padding-top: 2.5rem;
  }
  .add-note-form input {
    width: 95%;
    height: 40px;
    margin-bottom: 1.2rem;
    padding-left: 1rem;
    font-size: 15px;
    line-height: 24px;
    overflow-wrap: break-word;
  }
  .add-note-form input::placeholder {
    font-size: 15px;
    line-height: 24px;
  }
  .add-note-text-area {
    width: 95%;
    height: 130px;
    padding: 0.5rem;
    font-size: 14px;
    line-height: 20px;
  }
  .add-note-text-area::placeholder {
    font-size: 14px;
    line-height: 20px;
  }
  .add-note-option-container {
    margin-top: -2rem;
    padding-right: 1.5rem;
  }
  .add-note-page-footer {
    margin-top: 1.5rem;
    width: 95%;
    height: 45px;
  }

  /* favorite page */
  .favorite-notes {
    margin-top: 1rem;
    padding-left: 1rem;
  }
  .favorite-title-container {
    display: grid;
    grid-template-columns: 1.8fr 2.3fr 0.1fr;
    padding-top: 2.5rem;
  }
  .favorite-title-container h3 {
    font-size: 12px;
  }
  .favorite-note-icon-div {
    padding-top: 0.6rem;
  }

  /* trash page */
  .trash-container {
    margin-top: 1rem;
    padding-left: 1rem;
  }
  .trash-title-container {
    display: grid;
    grid-template-columns: 1fr 2.7fr 0.3fr;
    padding-top: 2.5rem;
  }
  .trash-title-container h3 {
    font-size: 14px;
  }
  .trash-icon-div {
    padding-top: 0.6rem;
  }
}
